.container 
  .card 
    .card-header 
      %h1
        = @blog.title
    .card-body
      = @blog.description
    .card-footer
      = link_to 'Edit', edit_blog_path(@blog)
      \|
      = link_to 'Back', blogs_path
