.container
  %br
  - @hotel_intros.each do |hotel_intro|
    = render 'hotel_intros/hotel', hotel_intro: hotel_intro

  = link_to 'New Hotel intro', new_hotel_intro_path, class: 'btn btn-sm btn-primary'
