.container 
  .card 
    .card-header
      %h1
        = @hotel_intro.title
    .card-body
      %p
        %b Description:
        = @hotel_intro.description
    .card-footer
      = link_to 'Edit', edit_hotel_intro_path(@hotel_intro)
      \|
      = link_to 'Back', hotel_intros_path
