.container
  %h1 Listing recommends

  %table
    %thead
      %tr
        %th Title
        %th Description
        %th
        %th
        %th

    %tbody
      %tr
        %td= @recommend.title
        %td= @recommend.description
        %td= link_to 'Show', @recommend
        %td= link_to 'Edit', edit_recommend_path(@recommend)

  %br

