.container 
  .card 
    .card-header
      Recommend
    .card-body
      %p
        %b Title:
        = @recommend.title
      %p
        %b Description:
        = @recommend.description
    .card-footer
      = link_to 'Edit', edit_recommend_path(@recommend)
      \|
      = link_to 'Back', recommends_path
