.container
    .card 
        .card-header
            %h1 Editing about
        .card-body
            = render 'form'
        .card-footer
            = link_to 'Show', @about
            \|
            = link_to 'Back', abouts_path
