- content_for :title do 
    Hotel
    \|
    Editing
    = @room.title
.container
    .card 
        .card-header 
            %h1 Editing room
        .card-body
            = render 'form'

    = link_to 'Back', rooms_path
    %p 