- content_for :title do 
    Hotel
    \|
    New room
.container
    .card 
        .card-header 
            %h1 New room
        .card-body
            = render 'form'

    = link_to 'Back', rooms_path

    %p