%footer.footer
  .container
    .row
      .col-md-6.col-lg-3.mb-md-0.mb-4
        %h2.footer-heading
          %a.logo{href: "#"} Vacation Rental
        %p A small river named Duden flows by their place and supplies it with the necessary regelialia.
        %a{href: "#"}
          Read more
          %span.fa.fa-chevron-right{style: "font-size: 11px;"}
      .col-md-6.col-lg-3.mb-md-0.mb-4
        %h2.footer-heading Services
        %ul.list-unstyled
          %li
            %a.py-1.d-block{href: "#"} Map Direction
          %li
            %a.py-1.d-block{href: "#"} Accomodation Services
          %li
            %a.py-1.d-block{href: "#"} Great Experience
          %li
            %a.py-1.d-block{href: "#"} Perfect central location
      .col-md-6.col-lg-3.mb-md-0.mb-4
        %h2.footer-heading Tag cloud
        .tagcloud
          %a.tag-cloud-link{href: "#"} apartment
          %a.tag-cloud-link{href: "#"} home
          %a.tag-cloud-link{href: "#"} vacation
          %a.tag-cloud-link{href: "#"} rental
          %a.tag-cloud-link{href: "#"} rent
          %a.tag-cloud-link{href: "#"} house
          %a.tag-cloud-link{href: "#"} place
          %a.tag-cloud-link{href: "#"} drinks
      .col-md-6.col-lg-3.mb-md-0.mb-4
        %h2.footer-heading Subcribe
        %form.subscribe-form{action: "#"}
          .form-group.d-flex
            %input.form-control.rounded-left{placeholder: "Enter email address", type: "text"}/
            %button.form-control.submit.rounded-right{type: "submit"}
              %span.sr-only Submit
              %i.fa.fa-paper-plane
        %h2.footer-heading.mt-5 Follow us
        %ul.ftco-footer-social.p-0
          %li.ftco-animate
            %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#", title: "Twitter"}
              %span.fa.fa-twitter
          %li.ftco-animate
            %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#", title: "Facebook"}
              %span.fa.fa-facebook
          %li.ftco-animate
            %a{"data-placement" => "top", "data-toggle" => "tooltip", href: "#", title: "Instagram"}
              %span.fa.fa-instagram
  .w-100.mt-5.border-top.py-5
    .container
      .row
        .col-md-6.col-lg-8
          %p.copyright.mb-0
            / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            Copyright ©
            :javascript
              document.write(new Date().getFullYear());
            All rights reserved | Shadman Ahmadi
            %i.fa.fa-heart{"aria-hidden" => "true"}
            by
            %a{href: "https://colorlib.com", target: "_blank"} shadman@gmail.com
            / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        .col-md-6.col-lg-4.text-md-right
          %p.mb-0.list-unstyled
            %a.mr-md-3{href: "#"} Terms
            %a.mr-md-3{href: "#"} Privacy
            %a.mr-md-3{href: "#"} Compliances